p:first-of-type {
    color: red;
}

p:nth-of-type(2) {
    color: white;
    background-color: black;
}

p:nth-of-type(n+3):nth-of-type(-n+5),
p:nth-of-type(7) {
    color: green;
}

p:nth-of-type(4) {
    color: green;
    background-color: darkred;
}

p:nth-of-type(n+6):not(:nth-of-type(7)) {
    color: black;
}