.module {
    width: 45%; /* Adjust width as needed */
    float: left;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}
#internet-programming {
    background-color: #ffcc00; /* Yellow */
}
#intelligent-systems {
    background-color: #66ccff; /* Blue */
}